<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>My Reminder</title>
</head>
<body>
	<header>My Reminder</header>
	<nav>
		<ul>
			<li>All</li>
			<li>Active</li>
			<li>Done</li>
		</ul>
	</nav>
	<table>
		{% for todo in todo_list %}
		<tr>
			<form action='/status/{{ todo.id }}' method='post'>
				{% csrf_token %}
				<td class='container'>
					<input type='checkbox' {% if not todo.is_active %}checked{% endif %}>
					<span class='checkmark'></span>
				</td>
			</form>

			<td class='title'>{{ todo.title }}</td>

			<form action='/todo/{{ todo.id }}' method='post'>
				{% csrf_token %}
				<td><button class='del_button'>ㅡ</button></td>
			</form>
		</tr>
		<tr>
			<td>{{ todo.image }}</td>
		</tr>
		{% endfor %}

	</table>
	<table>
		<tr class="creation">
			<td class='container'>
				<input type='checkbox'>
				<span class='checkmark'></span>
			</td>

			<form action='/new' method='post'>
				{% csrf_token %}
			<td class='add_title'><input class='input_title' name='title' placeholder='Enter your title :)'></td>
			<td class='td_save'><button class='save'>save</button></td>
		</tr>
		<tr>
			<td><button>attach image</button></td>
			</form>
		</tr>
	</table>
</body>
</html>
