<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>My Reminder</title>
</head>
<body>
	<header>My Reminder</header>
	<nav>
		<ul>
			<li><a href='/'>All</a></li>
			<li><a href='/?status=active'>Active</a></li>
			<li><a href='/?status=done'>Done</a></li>
		</ul>
	</nav>
	{% for todo in todo_list %}
	<table>
		<tr>
			<td class='container'>
				<form action='/status/{{ todo.id }}' method='post'>
					{% csrf_token %}
					<label>
						<button></button>
						<input type='checkbox' {% if not todo.is_active %}checked{% endif %}>
						<span class='checkmark'></span>
					</label>
				</form>
			</td>

			{% if todo.is_active %}
			<td class='title'>{{ todo.title }}</td>
			{% endif %}

			{% if not todo.is_active %}
			<td class='title done'>{{ todo.title }}</td>
			{% endif %}

			<form action='/todo/{{ todo.id }}' method='post'>
				{% csrf_token %}
				<td><button class='del_button'>ㅡ</button></td>
			</form>
		</tr>
	</table>

	<table>
		<tr>
			{% if todo.image %}
			<td class='td_img'>
				<img src="/todo/media/{{ todo.image }}">
			</td>
			{% endif %}
		</tr>
	</table>
	{% endfor %}

	<article>
		<details>
			<summary>New Reminder</summary>

			<table class='new_table'>
				<tr>
					<form action='/new' method='post' enctype="multipart/form-data">
						{% csrf_token %}
						<td class='add_title'><input class='input_title' name='title' placeholder='Enter your title :)'></td>

						<td class='td_image'>	
							<label class='image_label'>
								<input type='file' class='image' name='image'>
								Choose an image
							</label>
						</td>
						<td class='td_save'><button class='save'>save</button></td>
					</form>
				</tr>
			</table>
		</details>
	</article>
</body>
</html>
