<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Reminder</title>
</head>
<body>
	<header>My Reminder</header>
	<nav>
		<ul>
			<li>All</li>
			<li>Active</li>
			<li>Done</li>
		</ul>
	</nav>
	<table>
		<tr>
			{% for todo in todo_list %}

			<form action='/status/{{ todo.id }}' method='post'>
				{% csrf_token %}
				<td><button>달성여부</button></td>
			</form>

			<td>{{ todo.title }}</td>

			<form action='/todo/{{ todo.id }}' method='post'>
				{% csrf_token %}
				<td><button>삭제</button></td>
			</form>

			<td>{{ todo.image }}</td>
			{% endfor %}
		</tr>
		<tr class="creation">
			<td><button>달성여부</button></td>
			<form action='/new' method='post'>
				{% csrf_token %}
				<td><input name='title'></td>
				<td><button>저장</button></td>
			</form>
			<td><button>삭제</button></td>
			<td><button>attach image</button></td>
		</tr>

</body>
</html>
