header {
	background: #2196f3;
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 30px;
}

ul {
	display: flex;
	text-align: center;
	padding: 20px 0;
	background: #2699fb;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	border-style: solid none none none;
}

li {
	display: inline;
	flex: auto;
}

a {
	text-decoration: none;
	color: white;
}

table {
	width: 100%;
	margin: 25px 0 0 0;
}

.title {
	border-style: none none solid none;
	border-color: #eee;
	width: 90%;
}

.done {
	text-decoration: line-through;
}

td {
	padding: 20px;
	font-size: 30px;
	color: #2699fb;
}

.container {
	display: block;
	position: relative;
	margin-left: 35px;
	margin-top: 20px;
	font-size: 22px;
}

.container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.container input:checked ~ .checkmark {
	background-color: #2699fb;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 15px;
	width: 15px;
	height: 30px;
	border: solid white;
	border-width: 0 5px 5px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	cursor: pointer;
	background-color: #eee;
}

.del_button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	font-weight: 900;
	border: none;
	background-color: #2699fb;
	color: white;
	cursor: pointer;
	right: 0px;
}

.td_save {
	text-align: left;
}

.save {
	width: 80px;
	height: 55px;
	font-size: 20px;
	font-weight: bold;
	background-color: #2699fb;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 15%;
	margin: 20px 20px 20px 0;
}

.add_title {
	border-style: none;
	width: 80%;
	padding-left: 5%;
}

.input_title {
	font-size: 30px;
	padding: 10px;
	border-style: none none solid none;
	border-width: bold;
	border-color: #eee;
	width: 100%;
	color: #838688;
}

summary {
	font-size: 30px;
	color: #2699fb;
	font-weight: bold;
	padding: 0 30px;
	cursor: pointer;
}

article {
	background-color: #e1ecf4;
	margin-top: 50px;
	padding: 20px 5px;
}

details summary::-webkit-details-marker {
	left: 15px;
	width: 15px;
	height: 30px;
	border: solid #2699fb;
	border-width: 0 5px 5px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	color: #e1ecf4;
}

.td_image {
	padding: 0 0 0 20px;
}

.image {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image_label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #757575;
    display: inline-block;
	cursor: pointer;
	width: 180px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	padding: 10px 10px 0 10px;
}

.new_table {
	margin: 0;
}

.td_img {
	padding: 0;
}

img {
	width: 400px;
	margin-left: 10%;
}
